<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jfreechart_Bsp/src/jfreechart_Bsp/PieChart_AWT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jfreechart_Bsp.PieChart_AWT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jfreechart_Bsp"/>
</launchConfiguration>
